<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from demo.themefisher.com/biztrox-bootstrap/about-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Jan 2024 06:14:40 GMT -->

<head>
    <meta charset="utf-8">
    <title>BIZTROX</title>


    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%- include('links'); %>

</head>

<body>
    <%- include('header'); %>

        <section class="page-title overlay" style="background-image: url(images/background/page-title.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white font-weight-bold">About Us</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>About Us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- philosophy -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 order-2 order-lg-1">
                        <h5 class="section-title-sm">Know About</h5>
                        <h2 class="section-title section-title-border-half">Why Saikoti.com?</h2>
                        <p>Many of us might have heard about Ramkoti. Devotees keep writing 'Sriram' on the ruled books. As the days have
                            changed, we need to adopt to the change. From using quills, fountain pens, ball points and gel pens to write on
                            leaves and paper, the era of keying in the letters in electronic devices has come.</p>
                        <p>It is known that people are busy on social networking sites and mobile games these days. Saikoti.com is derived from
                            the thought of allocating a few minutes out of that for Shirdi Saibaba.</p>
                        <h4><b>This is completely free.</b></h4>

                        <p>For details write to <a href="mailto:"xxxxx">xxxx</a></p>
                    </div>
                    <!-- philosophy image -->
                    <div class="col-lg-5 align-self-center order-1 order-lg-2 mb-md-50">
                        <img class="img-fluid w-100" src="images/about/philosophy.jpg" alt="philosophy-image">
                    </div>
                </div>
            </div>
        </section>
        <!-- /philosophy -->

        <%- include('footer'); %>
            <%- include('scripts'); %>
</body>
</html>